services:
  postgres:
    image: postgres:15.5-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: devPostgres
    ports:
      - 5432:5432
  opa:
    image: openpolicyagent/opa:0.60.0-static
    command:
      - 'run'
      - '--server'
      - '--watch'
      - '--log-format=json-pretty'
      - '--set=decision_logs.console=true'
      - '/policies/rbac_policy.rego'
      - '/policies/entity_checker.rego'
      - '/policies/authz.rego'
    ports:
      - 8181:8181
    volumes:
      - ./policies:/policies
