name: CI Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
        path: ~/.yarn
        key: ${{ runner.OS }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-yarn-

    - name: Install Dependencies
      run: yarn install --frozen-lockfile

    - name: Run Tests
      run: yarn test:all

    - name: Lint Code
      run: yarn lint:all

    - name: Check Formatting
      run: yarn prettier:check

    - name: Format Code
      run: prettier --write .
